@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary: #FFD130;
  --secondary: #595959;
  --tersier: #515151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f3f3f3;
}

.title {
  display: block;
  text-align: center;
  font-size: 25px;
  margin: 30px 0;
}

/* Hero */
#hero {
  background-image: url(../img/bg-hero.png);
  height: 720px;
  width: 100%;
}

/* Navbar */
.nav-color {
  background-color: #183468;
  transition: all ease-in-out .3s;
}
.bg-trasparent {
  transition: all ease-in .3s;
}
.navbar-nav .nav-item a {
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.navbar-nav .nav-item a:hover {
  color: var(--primary);
}
.navbar-nav .nav-link.active {
  color: var(--primary);
  font-weight: 600;
}
/* End Navbar */

#hero .hero-title {
  width: 600px;
  font-weight: 600;
  line-height: 50px;
  color: white;
}
#hero .hero-title span {
  color: var(--primary);
}
#hero p {
  font-weight: 500;
  line-height: 24px;
  color: #f4f4f4;
}
#hero .cta {
  border: 2.5px solid white;
  background-color: none;
  padding: 10px 35px;
  color: white;
  text-decoration: none;
  transition: ease .2s;
  font-weight: 600;
}
#hero .cta:hover {
  background-color: var(--primary);
  color: black;
  border: 2.5px solid var(--primary);
}
/* End Hero */


/* About */
#about .about-headmaster h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--secondary);
}
#about .about-headmaster h1 {
  width: 480px;
  font-weight: 600;
  font-size: 39px;
  line-height: 45px;
}
#about .about-headmaster p {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary);
}
#about .about-headmaster h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
#about .about-headmaster h5 {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: var(--secondary);
}
/* End About */

/* Kompetensi Keahlian */
#jurusan {
  background-color: white;
}
#jurusan p {
  color: var(--tersier);
  font-weight: 500;
  line-height: 24px;
  margin-top: -20px;
  min-width: 790px;
}
#jurusan h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  max-width: 190px;
}
/* End Kompetensi Keahlian */

/* Total Guru dan Siswa */
#gurudansiswa {
  background-image: url(../img/Group\ 22.svg);
  height: 249px;
}
#gurudansiswa h1 {
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-align: center;
}
#gurudansiswa h3 {
  font-weight: 500;
  font-size: 40px;
  color: white;
}
#gurudansiswa h5 {
  font-weight: 500;
  font-size: 25px;
  color: white;
}
/* End Total Guru dan Siswa */

/* News */
#news {
  background-color: white;
}
#news .card {
  border: none;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
#news .card-header {
  background-color: white;
  border: none;
}
#news .card-header div {
  font-weight: 400;
  font-size: 16px;
}
#news .card-img-top {
  border-radius: 0;
}
#news .card-title {
  font-weight: 500;
  font-size: 16px;
  width: 243px;
  line-height: 18px;
}
#news .card-text {
  font-weight: 400;
  font-size: 13px;
  color: var(--tersier);
}
#news .card-body a {
  font-weight: 600;
  font-size: 12px;
  color: var(--primary);
  border: 1px solid black;
  padding: 5px 20px;
  text-decoration: none;
  transition: ease .2s;
}
#news .card-body a:hover {
  background-color: var(--primary);
  color: black;
  border: 1px solid var(--primary);
}
/* End News */

/* Informasi Sekolah */
#informasi .title {
  display: block;
  text-align: center;
  font-size: 25px;
}
#informasi .info {
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
  justify-content: space-between;
  margin-bottom: 40px;
}
#informasi .info h4 {
  font-weight: 500;
  font-size: 20px;
}
#informasi .bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
/* End Informasi Sekolah */

/* Footer */
#footer {
  background-color: #183468;
  color: white;
}
#footer .contact p{
  font-weight: 500;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 10px;
}
#footer h3 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}
#footer .address {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #f4f4f4;
  margin: 10px 0;
}
/* End Footer */